// ask can i use google fonts??
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
$font-stack-header: 'Oswald', Arial, Helvetica, sans-serif;
$font-stack-paragraph: 'Open Sans', sans-serif;

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

// START NAVBAR - https://www.w3schools.com/css/css_navbar.asp
h2 {
	font-family: $font-stack-header;
	font-size: 1em;
	float: left;
}

ul {
	position: fixed;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	background-color: slategray;
	list-style-type: none;
	overflow: hidden;
}

li {
	float: left;
	border-right: 1px solid white;
}

li a {
	font-family: $font-stack-header;
	font-size: 1.25em;
	display: block;
	color: white;
	text-decoration: none;
	padding: 8px 24px;
	text-align: center;
}

li a:hover {
    background-color: #404040;
}

// END NAVBAR

.under-header {
	font-family: $font-stack-header;
	font-size: 2em;
	padding-top: 28px;
	text-align: center;
}

h3 {
	font-family: $font-stack-header;
	font-size: 2em;
	text-align: center;
}

p {
	font-family: $font-stack-paragraph;
	font-size: 1em;
	text-align: center;
}

// footer help: https://stackoverflow.com/questions/7123138/how-to-make-this-header-content-footer-layout-using-css
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

main {
	flex: 1;
}

footer {
	background-color: IndianRed;
	margin: 0;
	padding: 0;
	bottom: 0;
	height: 45px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

i {
	padding: 0em 0em 0em 1em;
}

// inspiration - https://stackoverflow.com/questions/20566660/3-column-layout-html-css
.multi-column-container {
	display: flex;
}

.multi-column-container div {
	flex: 1;
	text-align: center;
}

.column-two {
	order: 2;
}

.column-three {
	margin: auto;
}

// inspiration - https://www.w3schools.com/w3css/w3css_slideshow.asp
.Slides {
	width: 20%;
	height: 20%;
	display: block;
	margin: auto;
}

.slides-container {
	//display: flex;
	//justify-content: center;
	text-align: center;
}

.left-button { // ?????
	//float: left;
}

.right-button {
	//float: right;
}

.hackerman {
	height: 25%;
	width: 25%;
	display: block;
	margin: auto;
}

//modal
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.6);
}

.modal-content { // need to fuck w/ this so that itt is the same size as the img?? or idk wat im doin w/ it
	display: flex;
	justify-content: center;
	align-items: center;
}

.hackerzoom {
	height: 40%;
	width: 40%;
	transform: translateY(25%);
	margin: 0;
}
